<!-- views/pages/heatmap/list.ejs -->

<% include partials/layout-head.ejs %>

<body>
<div id="react"></div>
<script>
    window._APP_STATE = <%- state%>
</script>
<script src="/build/client/bundle.js"></script>
</body>

<% include partials/layout-footer.ejs %>
