<!-- views/pages/heatmap/list.ejs -->

<% include partials/layout-head.ejs %>

<body>
<div id="react"><%- content %></div>
<script src="/build/client/bundle.js"></script>
</body>

<% include partials/layout-footer.ejs %>
